

h1{
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-left: 18%;
    margin-right: 18%;
}

.product_details{
    flex: 2;
    height: auto;
}

.cart-details{
    flex:1;
    padding-left: 1%;
    padding-right: 1%;
    height: 40vh;
}

.cart-details-inner h4{
    margin: 0;
    padding: 0;

}

.cart-details-inner h3{
    margin: 0;
    padding: 0;
    text-align: center;
    border: solid 1px;
}
.cart-details-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

.total-s{
    display: flex;
    justify-content: space-between;
}

.payment-box{
    display: flex;
    justify-content: center;
    width: 100%;
}

button{
    width: 40%;
    cursor: pointer;
}


.product_details_inner2{
    display: flex;
    background-color:whitesmoke;
    margin-bottom: 10px;
}
.icon{
    background-color: black;
}

.product-img-box{
    width: 35%;
}

.product-img {
    width: 100%;

}

.product-ids{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-ids h5{
    margin: 0;
    
}
.icon {
    width: 28%;
    height: auto;
}

.icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    align-items: center;
}

.delete_container{
    width: 25%;
    display: flex;
    position: relative;

}
.delete_container a{
    display: block;
    width: 25%;
    height: 12%;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.delete{
    background-color: black;
    width: 100%;
    height: 100%;
    background-color: brown;

}

.empty{
    margin:0;
    padding: 0;
}

@media screen and (max-width: 780px){
    .container{
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
    }

}