.product_category{
    text-align: center;
    background-color: blanchedalmond;
}


.list{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.category a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
}

.category a:hover{
    background-color:grey;
}