.middle_box {
    height: 250px;
    background-color: aquamarine;
}

.middle_container {
    height: 350px;
    background-color: aquamarine;
    padding-left: 80px;
    padding-top: 90px;
}

.middle_container h1 {
    margin: 0;
}

.middle_container .order_now {
    text-decoration: none !important;
}

.order_now {
    width: 15%;
    background-color: chartreuse;
    margin-top: 250px;
    text-align: center;
    border-radius: 10px;
}

.sales_box {
    padding-left: 70px;
    padding-top: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
    height: 800px;
    background-color: brown;
}

.products {
    text-align: center;
    background-color: crimson;
}

.puma_box {
    padding-left: 70px;
    padding-top: 70px;
    padding-right: 70px;
    padding-bottom: 30px;
    background-color: darkorange;
}
.puma_box a{
    text-decoration: none;

}
.get_yours_now {
    width: 35%;
    background-color: chartreuse;
    margin-top: 100px;
    text-align: center;
    border-radius: 10px;
}

.bottom_flex_container {
    min-height: 250px;
    background-color: rgb(191, 179, 179);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
}

.bottom_flex {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Media queries for responsive design */
@media screen and (max-width: 767px) {
    .middle_container {
        height: 350px;
        background-color: aquamarine;
        padding-left: 35px;
        padding-top: 60px;
    }

    .order_now {
        width: 35%;
        background-color: chartreuse;
        margin-top: 200px;
        text-align: center;
    }

    .sales_box {
        padding-left: 35px;
        padding-top: 40px;
        padding-right: 35px;
        padding-bottom: 40px;
        height: 800px;
        background-color: brown;
    }

    .puma_box {
        padding-left: 35px;
        padding-top: 40px;
        padding-right: 35px;
        padding-bottom: 40px;
        background-color: darkorange;
    }

    .get_yours_now {
        width: 95%;
    }


}