.middle_container {
    height: 85vh;
    padding-left: 80px;
    padding-top: 90px;
    background-image: url("/static/images/frontpage_background_shoe.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}


.middle_container h1 {
    margin: 0;
}

.middle_container .order_now {
    text-decoration: none !important;
}

.order_now {
    width: 15%;
    background-color:chartreuse;
    margin-top: 250px;
    text-align: center;
    border-radius: 10px;
}
.order_now a{
    display: block;
    border-radius: inherit;
}
.sales_box {
    padding-left: 70px;
    padding-top: 30px;
    padding-right: 70px;
    padding-bottom: 70px;
    height: auto;
}

.products_list{
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    margin-left: 0;
    padding: 0;
    flex-wrap: wrap;
    gap:10px;  
    justify-items: center; 
    width: 100%;
}

.products_item{
    display: block;
    min-height: auto;
    width: 25%;
    align-items: center;
}

.products_item img {
    max-width: 100%;
    height: auto;
}

.products_item a {
    text-decoration: none; 
    display: block;
    width: 100%;
    height: 100%;
}


.products {
    text-align: center;
    color: blue;
}

.puma_box {
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    background-color: blue;
    color: white;
}
.puma_box a{
    text-decoration: none;

}
.get_yours_now {
    width: 35%;
    background-color: chartreuse;
    margin-top: 100px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.get_yours_now a{
    display: block;
    border-radius: inherit;
}

.bottom_flex_container {
    min-height: 250px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
}

.bottom_flex {
    margin: 0;
    display: flex;
    flex-shrink: 1;
    gap: 3%;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .middle_container {
        height: 350px;
        padding-left: 35px;
        padding-top: 60px;
    }

    .order_now {
        width: 35%;
        background-color: chartreuse;
        margin-top: 200px;
        text-align: center;
    }

    .sales_box {
        padding-left: 35px;
        padding-top: 40px;
        padding-right: 35px;
        padding-bottom: 40px;
        height: auto;
    }

    .puma_box {
        padding-left: 35px;
        padding-top: 40px;
        padding-right: 35px;
        padding-bottom: 40px;
    }

    .get_yours_now {
        width: 95%;
    }
    .bottom_flex_container {
        padding-left: 30px;
        padding-right: 20px;
        padding-top: 10px;
    }


}