.form_container {
    margin: 40px;
    display: flex;
    justify-content: center;
}

.form {
    background-color: blanchedalmond;
    border: 2px solid #ccc;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.form input {
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form img{
    background-color: brown;
    display: block;
    width: 90px;
    margin-left: 100px;


}
label{
    width: 100%;
}

h3{
    text-align: center;
}

.button_container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.submit:hover {
    background-color: #e0e0e0; 
    cursor: pointer;
}

