

.container{
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.products_container{
    width: 85%;
    text-align: center;


}

.products_list{
    background-color: whitesmoke;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    margin-left: 0;
    padding: 0;
    flex-wrap: wrap;
    gap:20px;  
    justify-items: center;  
}

.products_item{
    background-color:whitesmoke;
    min-height: 500px;
}

.products_item img {
    width: 300px;
    height: 400px;
}

.products_item a {
    text-decoration: none; 
}

p{
    max-width: 300px;
}