
.container{
    margin-left: 15%;
    margin-right: 15%;
}

.products_container{
    text-align: center;


}

.products_list{
    list-style-type: none;
    display: flex;
    justify-content:space-evenly;
    margin-left: 0;
    padding: 0;
    flex-wrap: wrap;
    gap:10px;  
    width: 100%;
}

.products_item{
    background-color:whitesmoke;
    display: block;
    min-height: auto;
    width: 25%;
    align-items: center;
}

.products_item img {
    max-width: 100%;
    height: auto;
}

.products_item a {
    text-decoration: none; 
    display: block;
    width: 100%;
    height: 100%;
}

p{
    width: 100%;
 
}

span{
    text-decoration: line-through;
    margin-right: 7%;
    color: red;
}

@media screen and (max-width: 780px) {
    .products_item{
        width: 48%;
    }
    .container{
        margin-left: 0;
        margin-right: 0;
    }
}
