.container{
    margin-left: 20%;
    margin-right: 20%;
}

.product_container{
    margin: 0;
    padding-bottom: 0;
    width: 100%;
}

.product-image{
    max-width: 35%;
    margin: 0;
    padding: 0;
    display: inline;
}

h1{
    background-color:blanchedalmond;
    text-align: center;
}

h3{
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;
}
.overview_container{
    display: flex;
}

.product_details{
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: space-between;
    align-items: center;
}

button{
    border-radius: 10px;
    display: block;
    width: 50%;
    height: 10%;
    font-weight: 300;
    font-size: larger;
}

@media screen and (max-width: 780px){
    .container{
        margin-left: 0;
        margin-right: 0;
    }
    .product-image{
        max-width: 45%;

    }
    button{
        font-size:small;
    }
}