{% extends "home_base.html" %}
{% block title %}Cart Page{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
    <h1>Cart</h1>
    <div class="container">
        <div class="product_details">
            {% if cart %}
                {% for product in cart %}
                <div class="product_details_inner2">
                    <div class="product-img-box">
                        <img id="product-image" class="product-img" src="{{ url_for('static', filename=product.image_path) }}" alt="Product Image">
                    </div>
                    <div class="product-ids">
                        <h5>{{ product.name }}</h5>
                        <h5>{{ product.color }}</h5>
                        <h5>Size: {{ product.size }}</h5>
                        <h5>Net Price: {{ product.final_price }}</h5>
                        <div class="icons">
                            <img onclick="location.href='{{ url_for('substract_from_cartItem', product_id=product.id) }}'" class="icon" src="{{ url_for('static', filename='images/remove.png') }}" alt="Remove">
                            <h4>{{ product.quantity }}</h4>
                            <img onclick="location.href='{{ url_for('add_to_cartItem', product_id=product.id) }}'" class="icon" src="{{ url_for('static', filename='images/add.png') }}" alt="Add">
                        </div>
                    </div>
                    <div class="delete_container">
                        <a> <img onclick="location.href='{{ url_for('remove_from_cartItem', product_id=product.id) }}'" class="delete"src="{{ url_for('static', filename='images/delete.png') }}"> </img> </a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h4 class="empty">Your cart is empty</h4>
            {% endif %}
        </div>
        <div class="cart-details">
            <div class="cart-details-inner">
                <h3>Cart Summary</h3>
                <div class="total-s">
                    <h4>Total Sum</h4>
                    {%if cart_total_price %}
                       <h4>{{ cart_total_price }}$</h4>
                    {%else%}
                       <h4>0$</h4>
                    {%endif%}
                </div>
                <div class="total-s">
                    <h4>Total Items</h4>
                    {%if no_of_cartItems%}
                      <h4>{{ no_of_cartItems }}</h4>
                    {%else%}
                      <h4>0</h4>
                    {%endif%}
                </div>  
                <div class="total-s">
                    <h4>Delivery</h4>
                    <h4>Free</h4>
                </div> 
                <div class="payment-box">
                    <button onclick="location.href='{{ url_for('pay') }}'">Pay with Paypal</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

