{% extends "home_base.html" %}
{% block title %}categories{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/categories.css') }}">

<div class="products_container">
    <h1> Product Categories <h1>
    <div class="conatainer">
        <ul class="list">
            {% for category in category_list %}
                <li class="category"> <a href="{{url_for('products', argument=category)}}"> {{category}}  </a>  </li>
            {%endfor %}
        </ul>    
       
       
    </div>
</div>
{% endblock %}