<!DOCTYPE html>
{% extends "landing_base.html" %}

{% block title %} Delete User {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
<div class="container"> 
<div class="form_container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <h4 class="flash-message" id="{{ category }}">{{ message }}</h4>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>Delete User</h2>
    <div class="inner_container">
    <form  action="{{ url_for('delete_user') }}" method="POST">
        <label for="password">Enter password</label>
        <input type="password" name="password" id="password" required>

        <label for="password">Repeat password</label>
        <input type="password" name="repeat_password" id="repeat_password" required>        
        <button type="submit">Delete User</button>
    </form>
    </div>
</div>
{% endblock %}