{% extends "landing_base.html" %}
{% block title %}discounts{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
      <div class="container">

        <div class="products_container">

            <ul class= "products_list"> 
                {% for product in discounted_products%}
                <li  class= "products_item">
                   <a  href=#> 
                   <img src="{{ url_for('static', filename=product.image_path) }}" alt="{{ product.name }}">
                   <p> {{product.name}} </p>
                   <p> {{product.price}} </p>
                   </a>
                </li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}