{% extends "home_base.html" %}
{% block title %}discounts{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
      <div class="container">

        <div class="products_container">

            <ul class= "products_list"> 
                {% for product in discounted_products%}
                <li  class= "products_item">
                   <a href="{{ url_for('products', argument=product.id) }}"> 
                   <img src="{{ url_for('static', filename=product.image_path) }}" alt="{{ product.name }}">
                   <p> {{product.name}} </p>
                   {%if product.discount_percentage%}
                        <p> <span>${{product.price}} </span>   now ${{product.final_price}}  </p>
                    {%else%}
                    <p> ${{product.final_price}}     </p>
                   {%endif%}
                   </a>
                </li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}