{% extends "home_base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<div class="cont">
<div class="middle_container">
    <h1>Limited Time, Maximum Savings</h1>
    <h3 class="order_now"> <a class="order_now_a" href="{{ url_for('discounts') }}" style="text-decoration: none;">order now</a></h3>
</div>
<div class="sales_box"> 
    <h1 class="products">Products</h1>
    <ul class= "products_list"> 
        {% for product in products%}
        <li  class= "products_item">
           <a  href="{{ url_for('products', argument=product.id) }}"> 
           <img src="{{ url_for('static', filename=product.image_path) }}" alt="{{ product.name }}">
           </a>
        </li>
        {%endfor%}
</div>
<div class="puma_box"> 
    <h1>Puma Unisex Running <br> Sneaker</h1>
    <h3>Push your limits with puma running sneakers.</h3>
    <h3>Performance and design taken to the edge.</h3>
    <h3 class="get_yours_now"><a href="{{ url_for('discounts') }}">Get yours now<a/></h3>
</div>
<div class="bottom_flex_container">
    <div class="bottom_flex">
        <div class="bfc">
        <h3>FREE AND FAST SHIPPING</h3>
        <h6>Experience the convenience of FREE and FAST shipping on all orders! Get your favourite sneakers delivered straight to your doorstep in no time. Shop now and step up your style effortlessly!</h6>
        </div>
        <div class="bfc">
        <h3>100% REFUND</h3>
        <h6>Shop with confidence  Enjoy our 100% refund guarantee on all purchases. If you're not completely satisfied  with your sneakers, we will gladly refund your money, no questions  asked. Your satisfaction is our priority. Start shopping worry-free today.</h6>
        </div>
        <div class="bfc">
        <h3>SUPPORT 24/7</h3>
        <h6>Need assistance? We've got you covered 24/7! Our dedicated support team is here around the clock to answer all your questions and ensure your shopping experience is smooth and seamless. Get the help you need, anytime, anywhere. Shop with confidence!</h6>
        </div>
    </div>
</div>
<div>
{% endblock %}

