<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}default title{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_base.css') }}">
</head>
<body>
    <main>
    <nav class="navbar">
        <div class="brand-logo" ><a class="brand-text" href="{{ url_for('landing_page') }}">Brand</a></div>
        <ul class="nav-links">
            <li><a class="brand-text" href="{{ url_for('discounts') }}">Discounts</a></li>
            <li><a class="brand-text" href="{{url_for('categories')}}">Categories</a></li>
            <li><a class="brand-text" href="{{url_for('user_account')}}">Account</a></li>
            <li><a class="brand-text" href="{{url_for('cart')}}"> <h6> {{no_of_cartItems}} </h6> <img src='/static/images/blue_shopping_cart.png' > </a></li>
        </ul>
        <div class="menu-icon">
            <img class= "drop_down_icon" src="/static/images/blue_arrow_drop_down.png" alt="Menu">
            <img class= "drop_up_icon" src="/static/images/blue_arrow_drop_up.png" alt="Menu">
        </div>
    </nav>
    <div class="mobile-nav">
        <ul>
            <li><a href="{{ url_for('discounts') }}">Discounts</a></li>
            <li><a href="{{url_for('categories')}}">Categories</a></li>
            <li><a href="{{url_for('user_account')}}">Account</a></li>
            <li><a href="{{url_for('cart')}}"> <img src='/static/images/blue_shopping_cart.png' > </a></li>
        </ul>
    </div>
    {% block content %}{% endblock %}
    </main>
    <footer>
        <hr>
        <p>&copy; 2024 Brand. All rights reserved.</p>
    </footer>
    
    {% block scripts %}{% endblock %}
    <script src="{{ url_for('static', filename='javascripts/mobile_response.js') }}"></script>
</body>
</html>
