<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} default title {%endblock%}   </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_base.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="{{ url_for('landing_page') }}"> <img src='static/images/home.png'> </a></li>
            <li class="nav-item larger_space"><a href="{{ url_for('discounts') }}">Discounts</a></li>
            <li class="nav-item "><a href="{{url_for('categories')}}">Categories</a></li>
            <li class="nav-item "><a href="{{url_for('categories')}}">Account</a></li>
            <li class="nav-item"><a href="#"> <img src='/static/images/shopping_cart.png' >  </a></li>
        </ul>
    </nav>
    {% block content  %}  {%endblock%}
</body>
</html>