<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}default title{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="brand-logo" ><a href="{{ url_for('home') }}">Brand</a></div>
        <ul class="nav-links">
            <li><a href="{{ url_for('discounts') }}">Discounts</a></li>
            <li><a href="{{url_for('categories')}}">Products</a></li>
            <li><a href="{{url_for('user_account')}}">About</a></li>
        </ul>
        <div class="menu-icon">
            <img class= "drop_down_icon" src="/static/images/arrow_drop_down.png" alt="Menu">
            <img class= "drop_up_icon" src="/static/images/arrow_drop_up.png" alt="Menu">
        </div>
    </nav>
    <div class="mobile-nav">
        <ul>
            <li><a href="{{ url_for('discounts') }}">Discounts</a></li>
            <li><a href="{{url_for('categories')}}">Categories</a></li>
            <li><a href="{{url_for('user_account')}}">About</a></li>
        </ul>
    </div>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='javascripts/mobile_response.js') }}"></script>
</body>
</html>
