{% extends "landing_base.html" %}
{% block title %}landing page{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<div class="middle_container">
    <h1>Limited Time, Maximum Savings</h1>
    <a href="{{ url_for('discounts') }}" style="text-decoration: none;"><h3 class="order_now">order now</h3></a>
</div>
<div class="sales_box"> 
    <h1 class="products">Products</h1>
    <ul class= "products_list"> 
        {% for product in products%}
        <li  class= "products_item">
           <a  href="{{ url_for('products', argument=product.id) }}"> 
           <img src="{{ url_for('static', filename=product.image_path) }}" alt="{{ product.name }}">
           </a>
        </li>
        {%endfor%}
</div>
<div class="puma_box"> 
    <h1>Puma Unisex Running <br> Sneaker</h1>
    <h3>Push your limits with puma running sneakers.</h3>
    <h3>Performance and design taken to the edge.</h3>
    <a href="{{ url_for('categories') }}"><h3 class="get_yours_now">Get yours now</h3></a>
</div>
<div class="bottom_flex_container">
    <div class="bottom_flex">
        <div class="features"> 
            <h3>FREE AND <br> FAST SHIPPING</h3>
            <h6>Experience the <br> convenience of FREE <br> and FAST shipping on all <br> orders! Get your favourite <br> sneakers delivered <br> straight to your doorstep <br> in no time. Shop now <br> and step up your style <br> effortlessly!</h6>
        </div>
        <div class="features"> 
            <h3>100% REFUND</h3>
            <h6>Shop with confidence <br> Enjoy our 100% refund <br> guarantee on all purchases. If you're not <br> completely satisfied <br> with your sneakers, we will <br> gladly refund your <br> money, no questions <br> asked. Your satisfaction <br> is our priority. Start <br> shopping worry-free <br> today.</h6>
        </div>
        <div class="features"> 
            <h3>SUPPORT 24/7</h3>
            <h6>Need assistance? We've <br> got you covered 24/7! <br> Our dedicated support <br> team is here around the <br> clock to answer all your <br> questions and ensure <br> your shopping <br> experience is smooth <br> and seamless. Get the <br> help you need, anytime, <br> anywhere. Shop with <br> confidence!</h6>
        </div>
    </div>
</div>
{% endblock %}