{% extends "home_base.html" %}
{% block title %}Products{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">

<div class="container">
    <div class="products_container">
        <h2>Ordered Items</h2> <br>
        {% if orders %}
            <ul class="products_list"> 
                {% for order in orders %}
                    <li class="products_item">
                        <a href="{{ url_for('products', argument=order.product_id) }}"> 
                            <img src="{{ url_for('static', filename=order.image_path) }}" alt="{{ order.product_name }}">
                            <p>Name: {{ order.product_name }}</p>
                            <p>Size: {{ order.size }}</p>
                            <p>Price: ${{ order.price }}</p>
                            <p>Order Date: {{ order.ordered_date }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h5> 🙈 OOPs!! 😅  You have not ordered any item yet</h5>
        {% endif %}
    </div>
</div>

{% endblock %}
