{% extends "home_base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
<h1>Product</h1>
<div class="container">
    <div class="product_container">

        <div class="overview_container">
            <img id="product-image" class="product-image" src="{{ url_for('static', filename=filtered_product.image_path) }}" alt="{{ filtered_product.name }}">
            <div class="product_details">
                <h3 id="product-name" data-description="{{ filtered_product.name}}">{{ filtered_product.name}}</h3>
                <h3>Color:
                    <select id="color" name="color">
                        {% for color in similar_products_in_color %}
                            <option value="{{ color }}">{{ color }}</option>
                        {% endfor %}
                    </select>
                </h3>
                <h3>Size:
                    <select id="size" name="size">
                        {% for size in similar_products_in_size %}
                            <option value="{{ size }}">{{ size }}</option>
                        {% endfor %}
                    </select>
                </h3>
                <h3 id="product-price">Price: {{ filtered_product.price }}</h3>
                <button id="add-to-cart-button" onclick="location.href='{{ url_for('add_to_cartItem', product_id=filtered_product.id) }}'">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='javascripts/change_product_color.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/change_product_size.js') }}"></script>
{% endblock %}


