{% extends "home_base.html" %}
{% block title %}products{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_account.css') }}">
      <div class="container">
          <h1> Your Profile </h1> 
          <div class="inner_container">
            <button> ordered items </button>
            <button> return item </button>
            <button> edit profile </button>
            <button onclick="location.href='{{ url_for('logout') }}'"> logout </button>
          </div> 

          <ul class="user_info">
            <li> first name: {{user.first_name}} </li>
            <li> last name: {{user.last_name}} </li>
            <li> gender: {{user.gender}} </li>
            <li> telephone: {{user.telephone}} </li>
            <li> dob: {{user.date_of_birth}} </li>
            <li> email: {{user.email}} </li>
            <li> age: {{user.age}} </li>
            <li> country: {{user.country}} </li>
          </ul>


      </div>

{% endblock %}