{% extends "home_base.html" %}
{% block title %}products{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_account.css') }}">
      <div class="container">
          <h1> Your Profile </h1> 
          <div class="inner_container">
            <button> ordered items </button>
            <button> edit profile </button>
            <button> return item </button>
          </div> 

          <ul class="user_info">
            <li> name: alex</li>
            <li> age: 32 </li>
            <li> location: cologne </li>
            <li> area: königswinter </li>
          </ul>


      </div>

{% endblock %}